
{% extends "twitterapp/base.html" %}

  {% block content %}
    <div id="container">
      <ul class="list-group">
        {% if followers.count > 0 %}
          {% for follower in followers %}
          <li class="list-group-item">
            <a href="/twitter_followers/{{ follower.str_id }}">{{ follower.name }}</a>
          </li>
          {% endfor %}
          {% else %}
          <li class="list-group-item">Nothing found...</li>
          {% endif %}
      </ul>
    </div>
  {% endblock %}